@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-5 mt-4">Library Management <br> System.</h2>
    <a asp-controller="Books" asp-action="Index"style="font-size: 20px; padding: 12px 24px;" class="pixel-button mt-3">Go to Books.</a>
</div> 
